@import "~bootstrap/scss/bootstrap";

body {
    margin: 0;
    padding: 0;
}

.card_dashboard {
    max-height: 200px;
}
.card_dashboard .product div {
    max-height: 200px;
}

*, html {
    margin:0;
    padding:0;  
}

.img_dashboard {
    max-width: 100%;
    height: 200px;
}
.margin_bottom {
    margin-bottom: 20px;
}